#!/usr/bin/env python
import math
import os.path
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("max_velocity_linear", double_t, 0, "in m/s", default=0.0, min=0.0)
gen.add("max_steering_angular", double_t, 0, "maximum in rad", default=0.0, min=0.0)
gen.add("steering_angular_velocity", double_t, 0, "in rad/s", default=0.0, min=0.0)
gen.add("steering_tollerance", double_t, 0, "in rad", default=0.001, min=0.0)
gen.add("wheel_base",  double_t, 0, "in m", default=0.0, min=0.0)
gen.add("wheel_diameter", double_t, 0, "in m", default=0.0, min=0.0)
gen.add("allowed_brake_velocity", double_t, 0,
        "Braking is allowed if current motor velocity is below this value (in rad/s)", default=0.0, min=0.0)
gen.add("brake_velocity", double_t, 0, "Brake if commanded motor velocity is below this value (in rad/s)", default=0.0,
        min=0.0)
gen.add("brake_current", double_t, 0, "in A", default=0.0, min=0.0)
gen.add("publish_odom", bool_t, 0, "", default=True)
gen.add("publish_tf", bool_t, 0, "", default=True)
gen.add("publish_motor_speed", bool_t, 0, "", default=False)
gen.add("odom_frame", str_t, 0, "", default="/odom")
gen.add("base_frame", str_t, 0, "", default="/base_link")
gen.add("odometry_rate", double_t, 0, "in Hz", default=10.0, min=0.0)

package_name = os.path.basename(os.path.dirname(os.path.dirname(__file__)))
node_name = package_name + "_node"
cfg_name = os.path.splitext(os.path.basename(__file__))[0]
exit(gen.generate(package_name, node_name, cfg_name))
